<div ng-app='in2nData' ng-controller="in2nCtrl">
<div layout="row" ng-cloak>
     <div layout="column">
         <div flex>
            <md-fab-speed-dial md-open="false" md-direction="down"
ng-class="'md-scale'">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn"
>
                        <md-icon class="material-icons">menu</md-icon>
                    </md-button>
                </md-fab-trigger>
                   <md-fab-actions>
                    <md-button aria-label="Twitter" class="md-fab
md-raised md-mini">
		<md-tooltip> What</md-tooltip>
                        <md-icon class="material-icons"
aria-label="Twitter">format_list_bulleted</md-icon>
                    </md-button>
                    <md-button aria-label="Facebook" class="md-fab
md-raised md-mini">

		<md-tooltip> What</md-tooltip>
                        <md-icon class="material-icons"
aria-label="Facebook">insert_chart</md-icon>
                    </md-button>
                    <md-button aria-label="Google Hangout" class="md-fab
md-raised md-mini">

		<md-tooltip> Hangout</md-tooltip>
                        <md-icon class="material-icons"
aria-label="Google Hangout">face</md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>    
         </div>
     </div>
     <div layout="row" style="width: 100%">
        <div flex>
            <ui-view></ui-view>
        </div>
     </div>
</div>
</div>

