<div ng-app='Crud' ng-controller="Crudctrl">
	<md-card>
		<md-toolbar>
		<h1> Angular CRUD API demo </h1>
		</md-toolbar>
<ul>
	<li><md-button ng-class="'md-primary md-raised'" ng-click="createapi();" >Create </md-button></li>
		<br/>
	<li><md-button  ng-class="'md-primary md-raised'" ng-click="readapi();" >Read </md-button></li>
		<br/>
	<li><md-button ng-class="'md-primary md-raised'" ng-click="updateapi();" >Update </md-button></li>
		<br/>
	<li><md-button  ng-class="'md-primary md-raised'" ng-click="deleteapi();" >Delete </md-button></li>
</ul>
	</md-card>
</div>
